/*Import Google Font Cdn enlace*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  font-family: Arial;
}
.sidebar {
  background: #9dc050;
  bottom: 0;
  color: #fff;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  transition: all 0.5s linear;
  width: 200px; /*70px para que tenga efecto de desplazarce y 240px para que quede fijo*/
}
.sidebar:hover {
  width: 200px; /*240px para que se mueva el menu y 200px para que quede fijo*/
  transition: 0.5s;
}
/*Personalización menú*/
nav ul {
  margin: -5;
  padding: 0;
  list-style: none;
}
nav ul li {
  border-bottom: 0px solid;
}
nav ul a {
  box-sizing: border-box;
  color: white;
  background: #846de4;
  display: block;
  width: 100%;
  padding: 2px 5px;
  text-decoration: none;
  border-radius: 25px;
}
nav ul ul {
  height: 0px;
  overflow: hidden;
  transition: 0.4s;
}
nav ul li:hover ul {
  height: auto;
}
nav ul ul a {
  background: #4f2cdd;
}
nav i,
span {
  margin-left: 8px;
}
.menu {
  height: 100%;
  position: relative;
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 0.5rem;
  margin: 2px;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.menu li:hover,
.active {
  background: #e1dced58;
}

.logo {
  height: 30px;
  padding: 10px;
}

.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
/*Sección del cuerpo del menu */
.main--content {
  position: relative;
  background: #ebe9e9;
  width: 100%;
  padding: 0.3rem;
}
.header--wrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}
.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}
.header--title {
  color: rgba(113, 99, 186, 255);
}
.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search--box {
  background: rgb(237, 237, 237);
  border-radius: 15px;
  color: rgba(113, 99, 186, 255);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
}
.search--box input {
  background: transparent;
  padding: 10px;
}
.search--box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.search--box i:hover {
  transform: scale(1.2);
}
.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}
/* Mostrams el * en rojo para un input obligatorio*/
.is-required:after {
  content: "*";
  margin-left: 3px;
  color: red;
  font-weight: bold;
}
/*Deshabilitados en gris opciones del menu*/
.disabled-link {
  pointer-events: none;
  color: gray;
  cursor: not-allowed;
}
.diferencianegativa {
  color: #ff0000;
}
.diferenciapositiva {
  color: #092eff;
}
.sindiferencia {
  color: #000000;
}
