table {
  background-color: white;
  border-collapse: collapse;
  font-size: 12px;
  text-align: left;
  width: 100%;
}
th,
td {
  padding: 5px;
}
thead {
  background-color: #7c52f0;
  border-bottom: solid 5px #0f362d;
  color: white;
}
tr:nth-child(even) {
  background-color: #ddd;
}
tr:hover td {
  background-color: #6d73e4;
  color: rgb(255, 255, 255);
}
.editar,
.editarRol,
.editarUser,
.editarCat,
.editarUmed,
.editarMarca,
.editarTalla,
.editarColor,
.editarGenero,
.editarEstilo,
.editarMpago,
.editarImpuesto {
  color: #002cee;
  cursor: pointer;
}
.eliminar,
.eliminarRol,
.eliminarUser,
.eliminarCat,
.eliminarUmed,
.eliminarMarca,
.eliminarTalla,
.eliminarColor,
.eliminarGenero,
.eliminarEstilo,
.eliminarMpago,
.eliminarImpuesto {
  color: #ff0000;
  margin-left: 6px;
  cursor: pointer;
}

#limpiar-busqueda {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 21px;
  margin-top: 15px;
  width: 30px;
}

#limpiar-busqueda:hover {
  background-color: #d32f2f;
}
